* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}

p, a:visited{
    font-size: medium;
    text-align: center;
    padding: 3px 5px;
    color: rgb(228, 222, 222);
}

p:hover{
    color: rgb(255, 255, 255);
}

body {
    background: linear-gradient(90deg, rgb(28, 78, 82) 0%, rgb(59, 163, 168) 35%, rgb(45, 97, 97) 100%);
    background-image: url(../assets/background.jpg);
    background-repeat: no-repeat; 
}

.header {
    height: 38px;
    width: 100%;
    display: block;
    align-items: center;
    background: linear-gradient(90deg, rgb(28, 78, 82) 0%, rgb(59, 163, 168) 35%, rgb(45, 97, 97) 100%);
}

.menu{
    width: 500px;
    display: inline-flex;
    padding: 5px;
    justify-content: space-around;
    font-family: 'Overpass',sans-serif;
    font-weight: 400;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 92px;
    display: block;
    align-items: center;
    background: linear-gradient(90deg, rgb(28, 78, 82) 0%, rgb(59, 163, 168) 35%, rgb(45, 97, 97) 100%);
}

.menu-footer {
    width: 500px;
    display: flex;
    margin: auto;
    padding: 10px;
    justify-content: space-around;
    font-family: 'Overpass',sans-serif;
    font-weight: 400;
}

.menu-footer p, a:visited{
    font-size: small;
    text-align: center;
    padding: 3px 5px;
    color: #fff;
}

.menu-footer p:hover{
    border-radius: 4px;
    background-color: #d5d5d6;
}

#sign {
    position: relative;
    left: 785px;
    
}

#github {
    position:fixed;
    left:100px;
}

#rights{
    position: fixed;
    right: 100px;
}

.container {
    display: flex;
    margin-top: 80px;
    justify-content: center;
}

.texto {
    background-color: lavender;
    opacity: 0;
    margin-left: 950px;
    width: 200px;
    position: absolute;
    transition: all 1s ease-in-out;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 20px 10px 12px 1px rgba(36, 35, 35, 0.2);
    border-radius: 10px;
    padding: 10px;
}

.carro{
    z-index: 1;
    position: absolute;
    pointer-events: none;
    filter: drop-shadow(-15px 5px 10px rgb(36, 35, 35));
}

.parts{
    z-index: -1;
    position: absolute;
    transition: all 800ms ease-in-out;
}

.parts:hover {
    z-index: 2;
    transform: scale3d(1.1,1.1,2);
    filter: drop-shadow(20px 8px 12px black);
    
}

.parts:hover, .active{
    transition: all 800ms ease-in-out;
    opacity: 1;
}

img#portas{
    left: 548px;
    top: 151px;
}

img#lanternas{
    left: 653px;
    top: 263px;
}

img#footer{
    display: block;
    margin: auto;
}