* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}

p, a:visited {
    font-size: medium;
    text-align: center;
    padding: 3px 5px;
    color: rgb(228, 222, 222);
}

p:hover {
    color: rgb(255, 255, 255);
}

body {
    position: flex;
    justify-content: center;
    background-image: url(../assets/background.jpg);
    background-repeat: no-repeat; 
}

.header {
    height: 38px;
    width: 100%;
    display: flex;
    align-items: center;
    background: linear-gradient(90deg, rgb(28, 78, 82) 0%, rgb(59, 163, 168) 35%, rgb(45, 97, 97) 100%);
}

.menu {
    width: 100%;
    display: inline-flex;
    padding: 5px;
    justify-content: space-around;
    font-family: 'Overpass',sans-serif;
    font-weight: 400;
}

.menu div#navi *{
    display: inline-flex;
    padding-right: 7rem;
    justify-content: left;

}
.menu div#sign *{
    display: inline-flex;
    justify-content: right;
    padding-right: 1rem;

}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 92px;
    display: flex;
    align-items: center;
    background: linear-gradient(90deg, rgb(28, 78, 82) 0%, rgb(59, 163, 168) 35%, rgb(45, 97, 97) 100%);
}

.menu-footer {
    width: 500px;
    display: inline-flex;
    margin: auto;
    padding: 10px;
    justify-content: space-around;
    font-family: 'Overpass',sans-serif;
    font-weight: 400;
}

.menu-footer p, a:visited{
    font-size: small;
    text-align: center;
    padding: 3px 5px;
    color: #fff;
}

.menu-footer p:hover{
    border-radius: 4px;
    background-color: #d5d5d6;
}

#github {
    position:fixed;
    left:100px;
}

#rights{
    position: fixed;
    right: 100px;
}

.main {
    background: linear-gradient(90deg, rgb(28, 78, 82) 0%, rgb(59, 163, 168) 35%, rgb(45, 97, 97) 100%);
    display: flex;
    margin-top: 80px;
    justify-content: center;
}

.texto {
    background-color: lavender;
    opacity: 0;
    margin-left: 950px;
    width: 200px;
    position: absolute;
    transition: all 1s ease-in-out;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 20px 10px 12px 1px rgba(36, 35, 35, 0.2);
    border-radius: 10px;
    padding: 10px;
}


.carro {
    z-index: 1;
    position: absolute;
    pointer-events: none;
    filter: drop-shadow(-15px 5px 10px rgb(36, 35, 35));
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.parts {
    z-index: -1;
    position: absolute;
    transition: all 800ms ease-in-out;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.parts:hover {
    z-index: 2;
    transform: scale3d(1.1,1.1,2);
    filter: drop-shadow(1px 8px 10px rgb(0, 0, 0));
    
}

.parts:hover, .active {
    transition: all 800ms ease-in-out;
    opacity: 1;
}

img#carro{
    left: 35.4%;
    top: 18.9%;
}
img#portas {
    left: 548px;
    top: 151px;
}

img#lanternas {
    z-index: 1;
    left: 653px;
    top: 263px;
}

img#capo {
    left: 625px;
    top: 204px;
}

img#parabrisa {
    left: 600px;
    top: 153px;
}

img#footer {
    display: block;
    margin: auto;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}